main {
    display: flex;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

aside {
    width: 20%;
    padding: 20px;
    font-size: larger;
    color: #ccc;
    background-color: rgb(38, 38, 38);
}

iframe {
    width: 80%;
    height: 80vh;
    border: 1px solid #ccc;
}

article {
    width: 80%;

    height: 80vh;
    padding: 4%;
    background-color: rgb(44, 62, 80);
    color: azure;
    overflow-y: auto;
    scrollbar-width: none;
    cursor: pointer;

    textarea {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
        padding: 10px;
        overflow: auto;
        white-space: pre;
        border-radius: 10px;
    }

    .btnexecutecode {
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        border: none;
        transition: .03s;
        background-color: rgb(33, 150, 243);
        color: #fff;
    }

    .btnexecutecode:hover {
        background-color: rgb(33, 150, 243, 0.8);
    }

    .btnexecutecode:active {
        background-color: rgb(33, 150, 243, 0.8);
        padding: 9px;

    }
}

/*article*/
#ulTitles {
    background-color: rgb(38, 38, 38);
    display: flex;
    width: 100%;
    gap: 10px;
overflow-y: hidden;
scrollbar-width: none;
    .ulTitle {
        color: #fff;
        width:fit-content;
        background-color: rgb(33, 150, 243);
        white-space: nowrap;
        padding: 10px;
        border-radius: 10px;
    }

    .ulTitle:hover {
        background-color: rgb(33, 150, 243, .7);
    }
}


@media screen and (width<=575px) {
    main {
        display: block;
    }

    article,
    ul,
    aside {
        width: 100%;
    }

    #ulTitles {
        overflow-y: scroll;

        .ulTitle {}
    }



}